# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
unpackage/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
dist/

# misc
.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.history/
*.bak
*.rar
*.zip
